:root {
    --bg-color: #fff;
    --text-color: #000;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

/* Reset all margins, paddings, and borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set base font family */
body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Ensure images and videos are scaled properly */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Remove default link styles */
a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container .btn-row {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .btn-row .btn {
    width: 100px;
    height: 100px;
}
